{% extends "my_zinnia_bootstrap:zinnia/navigation.html" %}
{% block my_content %}
<div class="container-fluid">
	<div class="row">
		<div id="frontpage" class="hfeed col-xs-12 col-sm-6 col-md-6 col-lg-6" style="text-align:center;">
			{% block introduction_text %}
				{{ intro.text|safe }}
			{% endblock introduction_text %}
		</div>
		<div id="front-image" class="hfeed col-xs-12 col-sm-6 col-md-6 col-lg-6">
			{% block introduction_image %}
				<img src="{{ intro.image.url }}" alt="{{ intro.title }}" class="img-thumbnail" />
			{% endblock introduction_image %}
		</div>
	</div>
</div>
{% endblock my_content %}
