[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=mark
WorkingDirectory=/home/elspeth/sites/SITENAME/source
ExecStart=/home/mark/sites/SITENAME/virtualenv/bin/gunicorn \
		--bind unix:/tmp/SITENAME.socket \
		mdmorris_blog.wsgi:application

[Install]
WantedBy=multi-user.target
